## Industry Research, Data Collection & Integration.

### -> Importing Libraries.

In [1]:
import pandas as pd

### 1).  Identifying and accessing relevant data sources.

#### (i). Traffic data.

In [17]:
traffic_data = pd.read_csv("Dataset_Uber traffic.csv")
traffic_data['Datetime'] = pd.to_datetime(traffic_data['Datetime'], format='%d/%m/%y %H:%M', errors='coerce')
traffic_data.head()

             Datetime  Junction  Vehicles           ID
0 2015-11-01 00:00:00         1        15  20151101001
1 2015-11-01 01:00:00         1        13  20151101011
2 2015-11-01 02:00:00         1        10  20151101021
3 2015-11-01 03:00:00         1         7  20151101031
4 2015-11-01 04:00:00         1         9  20151101041

### (ii). Weather data.

In [3]:
weather_data = pd.read_csv("Weather.csv")
weather_data.head()

     Datetime  Temperature  Humidity  Precipitation  Windspeed
0  01/11/2015         17.0      75.6            0.0        8.3
1  02/11/2015         16.8      77.4            0.3        7.9
2  03/11/2015         16.2      78.1            0.8        8.3
3  04/11/2015         16.1      72.9            0.0        6.5
4  05/11/2015         16.7      62.9            1.5        9.0

### (iii). Event data.

In [4]:
event_data = pd.read_csv("Events.csv")
event_data.head()

,Event Name,Datetime,Location,Type,Description,Source
0,India vs South Africa ODI,25/10/2015,Mumbai (Maharashtra),Sports,Cricket match between India and South Africa,ESPN
1,Kolkata International Film Festival,10/11/2015,Kolkata (West Bengal),Cultural,Film festival featuring films from around the ...,Eventshigh
2,Diwali,11/11/2015,Nationwide,Public Holiday,Hindu festival of lights,Government Portal
3,NH7 Weekender,04/12/2015,Delhi (Delhi),Concert,Music festival featuring various artists and g...,BookMyShow
4,Bodhi Day,08/12/2015,Nationwide,Public Holiday,Buddhist holiday celebrating the enlightenment...,Government Portal

### 2). Integrating data from various sources.

#### Developing a data integration pipeline to merge Traffic, Weather, and Event data into a unified dataset, ensuring data is synchronized based on timestamps to align traffic data with corresponding weather conditions and events.

In [18]:
# Converting 'Datetime' column to datetime format
traffic_data['Datetime'] = pd.to_datetime(traffic_data['Datetime'], format='%d/%m/%Y %H:%M', errors='coerce')
weather_data['Datetime'] = pd.to_datetime(weather_data['Datetime'], format='%d/%m/%Y %H:%M', errors='coerce')
event_data['Datetime'] = pd.to_datetime(event_data['Datetime'], format='%d/%m/%Y %H:%M', errors='coerce')

# Merging datasets on 'Datetime'
merged_data = pd.merge(traffic_data, weather_data, on=['Datetime'], how='left')
Integrated_Dataset = pd.merge(merged_data, event_data, on=['Datetime'], how='left')
print(Integrated_Dataset)

                 Datetime  Junction  Vehicles           ID  Temperature  \
0     2015-11-01 00:00:00         1        15  20151101001         17.0
1     2015-11-01 01:00:00         1        13  20151101011          NaN
2     2015-11-01 02:00:00         1        10  20151101021          NaN
3     2015-11-01 03:00:00         1         7  20151101031          NaN
4     2015-11-01 04:00:00         1         9  20151101041          NaN
...                   ...       ...       ...          ...          ...
48133 2017-06-30 19:00:00         4        11  20170630194          NaN
48134 2017-06-30 20:00:00         4        30  20170630204          NaN
48135 2017-06-30 21:00:00         4        16  20170630214          NaN
48136 2017-06-30 22:00:00         4        22  20170630224          NaN
48137 2017-06-30 23:00:00         4        12  20170630234          NaN

       Humidity  Precipitation  Windspeed Event Name Location Type  \
0          75.6            0.0        8.3        NaN      NaN  NaN
1           NaN            NaN        NaN        NaN      NaN  NaN
2           NaN            NaN        NaN        NaN      NaN  NaN
3           NaN            NaN        NaN        NaN      NaN  NaN
4           NaN            NaN        NaN        NaN      NaN  NaN
...         ...            ...        ...        ...      ...  ...
48133       NaN            NaN        NaN        NaN      NaN  NaN
48134       NaN            NaN        NaN        NaN      NaN  NaN
48135       NaN            NaN        NaN        NaN      NaN  NaN
48136       NaN            NaN        NaN        NaN      NaN  NaN
48137       NaN            NaN        NaN        NaN      NaN  NaN

      Description Source
0             NaN    NaN
1             NaN    NaN
2             NaN    NaN
3             NaN    NaN
4             NaN    NaN
...           ...    ...
48133         NaN    NaN
48134         NaN    NaN
48135         NaN    NaN
48136         NaN    NaN
48137         NaN    NaN

[48138 rows x 13 columns]

### 3). Handling data quality issues.
#### (i). Cleaning the dataset by removing duplicates, handling missing values (imputation or removal), and correcting inconsistencies.

In [19]:
# Identify duplicate records
duplicate_mask = Integrated_Dataset.duplicated()
duplicates = Integrated_Dataset[duplicate_mask]
print(duplicates)

# Remove duplicates
Integrated_Dataset = Integrated_Dataset.drop_duplicates()

Empty DataFrame
Columns: [Datetime, Junction, Vehicles, ID, Temperature, Humidity, Precipitation, Windspeed, Event Name, Location, Type, Description, Source]
Index: []

In [21]:
# NOTE :- We will be only removing missing values from merged data of traffic and weather, as events occur ocassionaly.

# Removing rows with missing values 
new_merged_data = merged_data.dropna() 

# Reseting Index
new_merged_data = new_merged_data.reset_index(drop=True)
  
print("\nDataset after removing rows with Missing Values:\n") 
print(new_merged_data)

# Check for any remaining missing values
print("\nMissing Values Check:")
print(new_merged_data .isnull().sum())

Dataset after removing rows with Missing Values:

       Datetime  Junction  Vehicles           ID  Temperature  Humidity  \
0    2015-11-01         1        15  20151101001         17.0      75.6
1    2015-11-02         1        14  20151102001         16.8      77.4
2    2015-11-03         1        21  20151103001         16.2      78.1
3    2015-11-04         1        18  20151104001         16.1      72.9
4    2015-11-05         1        19  20151105001         16.7      62.9
...         ...       ...       ...          ...          ...       ...
2000 2017-06-26         4         6  20170626004         28.7      70.2
2001 2017-06-27         4         9  20170627004         28.4      79.8
2002 2017-06-28         4         6  20170628004         25.2      91.3
2003 2017-06-29         4        14  20170629004         24.6      92.5
2004 2017-06-30         4         9  20170630004         25.6      89.9

      Precipitation  Windspeed
0             0.000        8.3
1             0.300        7.9
2             0.800        8.3
3             0.000        6.5
4             1.500        9.0
...             ...        ...
2000          0.900       24.1
2001          5.344       22.3
2002         19.666       27.7
2003          4.591       13.0
2004          0.043       16.6

[2005 rows x 8 columns]

Missing Values Check:
Datetime         0
Junction         0
Vehicles         0
ID               0
Temperature      0
Humidity         0
Precipitation    0
Windspeed        0
dtype: int64

In [22]:
# Merging the new_merged_dataset and event dataset. 
Integrated_Dataset = pd.merge(new_merged_data, event_data, on=['Datetime'], how='left')

# Handle missing values in the final merged dataset
# For simplicity, let's fill missing values with a placeholder 'Unknown'.
Integrated_Dataset.fillna({
    'Event Name': 'No Event',
    'Location': 'NA',
    'Type': 'NA',
    'Description': 'NA',
    'Source': 'NA'
}, inplace=True)

#Displaying Final Integrated Dataset after handling missing values
print(Integrated_Dataset)

       Datetime  Junction  Vehicles           ID  Temperature  Humidity  \
0    2015-11-01         1        15  20151101001         17.0      75.6
1    2015-11-02         1        14  20151102001         16.8      77.4
2    2015-11-03         1        21  20151103001         16.2      78.1
3    2015-11-04         1        18  20151104001         16.1      72.9
4    2015-11-05         1        19  20151105001         16.7      62.9
...         ...       ...       ...          ...          ...       ...
2018 2017-06-26         4         6  20170626004         28.7      70.2
2019 2017-06-27         4         9  20170627004         28.4      79.8
2020 2017-06-28         4         6  20170628004         25.2      91.3
2021 2017-06-29         4        14  20170629004         24.6      92.5
2022 2017-06-30         4         9  20170630004         25.6      89.9

      Precipitation  Windspeed Event Name Location Type Description Source
0             0.000        8.3   No Event       NA   NA          NA     NA
1             0.300        7.9   No Event       NA   NA          NA     NA
2             0.800        8.3   No Event       NA   NA          NA     NA
3             0.000        6.5   No Event       NA   NA          NA     NA
4             1.500        9.0   No Event       NA   NA          NA     NA
...             ...        ...        ...      ...  ...         ...    ...
2018          0.900       24.1   No Event       NA   NA          NA     NA
2019          5.344       22.3   No Event       NA   NA          NA     NA
2020         19.666       27.7   No Event       NA   NA          NA     NA
2021          4.591       13.0   No Event       NA   NA          NA     NA
2022          0.043       16.6   No Event       NA   NA          NA     NA

[2023 rows x 13 columns]

### (ii). Normalizing or standardizing data to bring different variables to a common scale.

In [23]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# Normalization using Min-Max Scaling
scaler = MinMaxScaler()
columns_to_normalize = ['Vehicles', 'Temperature', 'Humidity', 'Precipitation', 'Windspeed']
Integrated_Dataset[columns_to_normalize] = scaler.fit_transform(Integrated_Dataset[columns_to_normalize])

### ->  Saving the Final Merged dataset to CSV.

In [24]:
Integrated_Dataset.to_csv('Integrated_Dataset.csv', index=False)

### -> Importing the Intgrated Dataset.

In [25]:
df = pd.read_csv('Integrated_Dataset.csv')
df.head(60)

,Datetime,Junction,Vehicles,ID,Temperature,Humidity,Precipitation,Windspeed,Event Name,Location,Type,Description,Source
0,2015-11-01,1,0.129630,20151101001,0.371841,0.740964,0.000000,0.070732,No Event,NaN,NaN,NaN,NaN
1,2015-11-02,1,0.120370,20151102001,0.364621,0.768072,0.004388,0.060976,No Event,NaN,NaN,NaN,NaN
2,2015-11-03,1,0.185185,20151103001,0.342960,0.778614,0.011700,0.070732,No Event,NaN,NaN,NaN,NaN
3,2015-11-04,1,0.157407,20151104001,0.339350,0.700301,0.000000,0.026829,No Event,NaN,NaN,NaN,NaN
4,2015-11-05,1,0.166667,20151105001,0.361011,0.549699,0.021938,0.087805,No Event,NaN,NaN,NaN,NaN
5,2015-11-06,1,0.138889,20151106001,0.321300,0.618976,0.000000,0.053659,No Event,NaN,NaN,NaN,NaN
6,2015-11-07,1,0.138889,20151107001,0.314079,0.701807,0.002925,0.070732,No Event,NaN,NaN,NaN,NaN
7,2015-11-08,1,0.111111,20151108001,0.321300,0.680723,0.002925,0.060976,No Event,NaN,NaN,NaN,NaN
8,2015-11-09,1,0.111111,20151109001,0.321300,0.700301,0.010238,0.053659,No Event,NaN,NaN,NaN,NaN
9,2015-11-10,1,0.166667,20151110001,0.328520,0.647590,0.021938,0.000000,Kolkata International Film Festival,Kolkata (West Bengal),Cultural,Film festival featuring films from around the ...,Eventshigh
10,2015-11-11,1,0.250000,20151111001,0.299639,0.609940,0.000000,0.141463,Diwali,Nationwide,Public Holiday,Hindu festival of lights,Government Portal
11,2015-11-12,1,0.194444,20151112001,0.332130,0.620482,0.000000,0.131707,No Event,NaN,NaN,NaN,NaN
12,2015-11-13,1,0.212963,20151113001,0.364621,0.612952,0.000000,0.165854,No Event,NaN,NaN,NaN,NaN
13,2015-11-14,1,0.185185,20151114001,0.375451,0.647590,0.000000,0.175610,No Event,NaN,NaN,NaN,NaN
14,2015-11-15,1,0.129630,20151115001,0.353791,0.606928,0.000000,0.114634,No Event,NaN,NaN,NaN,NaN
15,2015-11-16,1,0.148148,20151116001,0.324910,0.576807,0.000000,0.175610,No Event,NaN,NaN,NaN,NaN
16,2015-11-17,1,0.203704,20151117001,0.296029,0.620482,0.000000,0.175610,No Event,NaN,NaN,NaN,NaN
17,2015-11-18,1,0.212963,20151118001,0.274368,0.673193,0.000000,0.087805,No Event,NaN,NaN,NaN,NaN
18,2015-11-19,1,0.287037,20151119001,0.277978,0.706325,0.000000,0.070732,No Event,NaN,NaN,NaN,NaN
19,2015-11-20,1,0.212963,20151120001,0.299639,0.706325,0.000000,0.034146,No Event,NaN,NaN,NaN,NaN
20,2015-11-21,1,0.148148,20151121001,0.317690,0.656627,0.000000,0.043902,No Event,NaN,NaN,NaN,NaN
21,2015-11-22,1,0.129630,20151122001,0.285199,0.640060,0.000000,0.114634,No Event,NaN,NaN,NaN,NaN
22,2015-11-23,1,0.185185,20151123001,0.270758,0.609940,0.000000,0.070732,No Event,NaN,NaN,NaN,NaN
23,2015-11-24,1,0.203704,20151124001,0.263538,0.581325,0.000000,0.121951,No Event,NaN,NaN,NaN,NaN
24,2015-11-25,1,0.185185,20151125001,0.277978,0.638554,0.000000,0.131707,No Event,NaN,NaN,NaN,NaN
25,2015-11-26,1,0.194444,20151126001,0.252708,0.623494,0.010238,0.070732,No Event,NaN,NaN,NaN,NaN
26,2015-11-27,1,0.175926,20151127001,0.209386,0.787651,0.073127,0.078049,No Event,NaN,NaN,NaN,NaN
27,2015-11-28,1,0.185185,20151128001,0.238267,0.846386,0.090678,0.070732,No Event,NaN,NaN,NaN,NaN
28,2015-11-29,1,0.194444,20151129001,0.256318,0.856928,0.042414,0.070732,No Event,NaN,NaN,NaN,NaN
29,2015-11-30,1,0.175926,20151130001,0.277978,0.858434,0.005850,0.053659,No Event,NaN,NaN,NaN,NaN
30,2015-12-01,1,0.185185,20151201001,0.241877,0.807229,0.000000,0.087805,No Event,NaN,NaN,NaN,NaN
31,2015-12-02,1,0.185185,20151202001,0.194946,0.781627,0.004388,0.034146,No Event,NaN,NaN,NaN,NaN
32,2015-12-03,1,0.203704,20151203001,0.194946,0.754518,0.000000,0.141463,No Event,NaN,NaN,NaN,NaN
33,2015-12-04,1,0.166667,20151204001,0.220217,0.715361,0.000000,0.087805,NH7 Weekender,Delhi (Delhi),Concert,Music festival featuring various artists and g...,BookMyShow
34,2015-12-05,1,0.157407,20151205001,0.231047,0.754518,0.000000,0.087805,No Event,NaN,NaN,NaN,NaN
35,2015-12-06,1,0.120370,20151206001,0.227437,0.777108,0.000000,0.026829,No Event,NaN,NaN,NaN,NaN
36,2015-12-07,1,0.166667,20151207001,0.212996,0.859940,0.000000,0.053659,No Event,NaN,NaN,NaN,NaN
37,2015-12-08,1,0.166667,20151208001,0.274368,0.780120,0.000000,0.141463,Bodhi Day,Nationwide,Public Holiday,Buddhist holiday celebrating the enlightenment...,Government Portal
38,2015-12-09,1,0.185185,20151209001,0.259928,0.745482,0.000000,0.412195,No Event,NaN,NaN,NaN,NaN
39,2015-12-10,1,0.175926,20151210001,0.288809,0.621988,0.000907,0.185366,No Event,NaN,NaN,NaN,NaN
40,2015-12-11,1,0.148148,20151211001,0.209386,0.884036,0.089098,0.185366,No Event,NaN,NaN,NaN,NaN
41,2015-12-12,1,0.203704,20151212001,0.209386,0.884036,0.005455,0.185366,No Event,NaN,NaN,NaN,NaN
42,2015-12-13,1,0.138889,20151213001,0.162455,0.856928,0.004388,0.185366,No Event,NaN,NaN,NaN,NaN
43,2015-12-14,1,0.138889,20151214001,0.119134,0.808735,0.000000,0.273171,No Event,NaN,NaN,NaN,NaN
44,2015-12-15,1,0.175926,20151215001,0.151625,0.658133,0.000000,0.412195,No Event,NaN,NaN,NaN,NaN
45,2015-12-16,1,0.222222,20151216001,0.115523,0.724398,0.000000,0.185366,No Event,NaN,NaN,NaN,NaN
46,2015-12-17,1,0.231481,20151217001,0.148014,0.722892,0.000366,0.395122,No Event,NaN,NaN,NaN,NaN
47,2015-12-18,1,0.212963,20151218001,0.126354,0.623494,0.000000,0.368293,No Event,NaN,NaN,NaN,NaN
48,2015-12-19,1,0.212963,20151219001,0.126354,0.594880,0.000000,0.317073,No Event,NaN,NaN,NaN,NaN
49,2015-12-20,1,0.129630,20151220001,0.072202,0.757530,0.001463,0.078049,No Event,NaN,NaN,NaN,NaN
50,2015-12-21,1,0.157407,20151221001,0.050542,0.736446,0.000000,0.078049,No Event,NaN,NaN,NaN,NaN
51,2015-12-22,1,0.203704,20151222001,0.101083,0.742470,0.000000,0.229268,No Event,NaN,NaN,NaN,NaN
52,2015-12-23,1,0.166667,20151223001,0.057762,0.713855,0.000366,0.121951,No Event,NaN,NaN,NaN,NaN
53,2015-12-24,1,0.148148,20151224001,0.043321,0.602410,0.000000,0.456098,No Event,NaN,NaN,NaN,NaN
54,2015-12-25,1,0.111111,20151225001,0.018051,0.542169,0.000000,0.104878,No Event,NaN,NaN,NaN,NaN
55,2015-12-26,1,0.138889,20151226001,0.151625,0.465361,0.000000,0.412195,No Event,NaN,NaN,NaN,NaN
56,2015-12-27,1,0.129630,20151227001,0.187726,0.525602,0.000000,0.229268,Sunburn Festival,Goa,Concert,Electronic dance music festival,BookMyShow
57,2015-12-28,1,0.120370,20151228001,0.249097,0.561747,0.000000,0.456098,No Event,NaN,NaN,NaN,NaN
58,2015-12-29,1,0.166667,20151229001,0.249097,0.557229,0.000000,0.921951,No Event,NaN,NaN,NaN,NaN
59,2015-12-30,1,0.166667,20151230001,0.220217,0.599398,0.000000,0.658537,No Event,NaN,NaN,NaN,NaN